<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Reservas</title>
    <link rel="stylesheet" href="usuario.css" th:href="@{/usuario.css}">
</head>
<body>

    <div class="container">
        <h1>Mostrar reservas</h1>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Usuario</th>
                    <th>Espacio</th>
                    <th>Fecha</th>
                    <th>Hora Inicio</th>
                    <th>Hora Fin</th>
                    <th>Costo $ </th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="reserva : ${reservas}">
                    <td th:text="${reserva.idReserva}"></td>
                    <td th:text="${reserva.usuario.nombre}"></td>
                    <td th:text="${reserva.espacio.nombre}"></td>
                    <td th:text="${reserva.fecha}"></td>
                    <td th:text="${reserva.horaInicio}"></td>
                    <td th:text="${reserva.horaFin}"></td>
                    <td th:text="${reserva.total}"></td>
                    <td>
                        <span class="estado" th:text="${reserva.estado}"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>